<%= form_for(@outreach) do |f| %>
  <% if @outreach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outreach.errors.count, "error") %> prohibited this outreach from being saved:</h2>

      <ul>
      <% @outreach.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
