<% content_for :j do %>
<script type="text/javascript">
	$(document).ready(function(){
	    $('#news').addClass('active');
	});
</script>
<% end %>

<% if user_signed_in? %>
<% if current_user.admin? %>
<div data-no-turbolink>
	<%= link_to("New News", new_news_path) %>
</div>
<% end %>
<% end %>


<% if @news.count == 0 %>
	<p style = "text-align:center;">No news now, come back later.</p>
<% else %>
	<% count = 0 %>
	<% @news.each do |n| %>
		<% if count < 1 %>
	  	<div>
	  		<h2><%= n.title %></h2>
		    <div style = "margin-left: 50px;">
				<%=raw n.content %>
			</div>
		</div>
		<% count = count + 1 %> 
	<% else %> 
		<div style = "border-top: 1px dashed grey;">
			<h2><%= n.name %></h2>
			<div style = "margin-left: 50px;">
				<%=raw n.content %>
			</div>
		</div>
	<% end %>
	<% end %>
<% end %>